fastapi
uvicorn

#database
sqlalchemy
psycopg2

#env
python-dotenv

#email validation
pydantic[email]

#hashing
passlib[bcrypt]

#tests
pytest
requests
pytest-cov

#jwt authentication
python-jose

#formdata
python-multipart